.content {
    flex-grow: 1;

    z-index: 1;
    padding-bottom: 1em;

    background-size: contain;
    background-attachment: scroll;
    background-image: url(../../assets/background.svg);
}

.content .intro {
    margin: 1em 0;
    margin-top: 2em;
    background-color: rgba(200, 200, 200, 0.25);

    min-height: 12em;

    background-size: cover;
    background-attachment: fixed;
    background-image: url(../../assets/intro-background.svg);

    -webkit-box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.6);
    box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.6);
}

.content .intro .text {
    padding: 1em;
    max-width: 50%;

    font-size: 3em;
    color: #547A87;

    text-shadow:
        0 0 5px white,
        0 0 10px white,
        0 0 15px white,
        0 0 20px white,
        0 0 30px white,
        0 0 40px white,
        0 0 55px white,
        0 0 75px white,
        2px 2px 2px rgba(44, 151, 206, 0);
}

.content .cards-container {
    display: flex;
    flex-wrap: wrap;

    padding: 0;

    list-style-type: none;
}

.content .cards-container .item {
    flex-grow: 1;
    padding: 1em;

    border-radius: 4px;

    height: fit-content;
}

.content .cards-container .item .card-image {
    max-width: 512px;

    border-radius: 4px;

    max-height: 16em;
    min-width: 100%;
    object-fit: cover;
    vertical-align: bottom;
}

.content .cards-container li:last-child {
    flex-grow: 100;
}

.content .cards-container .item.empty {
    text-align: center;
    color: #877f54;

    text-shadow:
        0 0 5px white,
        0 0 10px white,
        0 0 15px white,
        0 0 20px white,
        0 0 30px white,
        0 0 40px white,
        0 0 55px white,
        0 0 75px white,
        2px 2px 2px rgba(44, 151, 206, 0);
}


/* toolbar styles */
.content .toolbar {
    position: sticky;
    top: 8em;

    display: flex;
    flex-wrap: wrap;

    z-index: 100;

    padding: 1em;

    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
}

.content .toolbar .item {
    z-index: 120;

    padding: 0.6em 1em;
    margin: .6em .4em;

    border-radius: 4px;
    border: none;
    outline: none;
    font-weight: bolder;

    transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);

    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.25);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.25);
}

.content .toolbar .item.input {
    backdrop-filter: blur(32px);
    -webkit-backdrop-filter: blur(32px);

    background-color: transparent;
}

.content .toolbar .item:focus,
.content .toolbar .item:hover {
    -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.25);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.25);
}

.content .toolbar .item.button {
    color: white;
}

.content .toolbar .item.button:focus,
.content .toolbar .item.button:hover {
    cursor: pointer;
}

.content .toolbar .item.button.remove {
    background-color: #e53935;
}

.content .toolbar .item.button.add {
    background-color: #4caf50;
}

.content .toolbar .item.button.clear {
    background-color: #f9a825;
}

.content .toolbar .item.button.top {
    background-color: #3f51b5;
    margin-left: auto;
}
