.content {
    flex-grow: 1;

    z-index: 1;
    padding-bottom: 1em;

    background-size: contain;
    background-attachment: scroll;
    background-image: url(../../assets/background.svg);
}

.content .intro {
    margin: 1em 0;
    margin-top: 2em;
    background-color: rgba(200, 200, 200, 0.25);

    min-height: 12em;

    background-size: cover;
    background-attachment: fixed;
    background-image: url(../../assets/intro-background.svg);

    -webkit-box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.6);
    box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.6);
}

.content .intro .text {
    padding: 1em;
    max-width: 50%;

    font-size: 3em;
    color: #547A87;

    text-shadow:
        0 0 5px white,
        0 0 10px white,
        0 0 15px white,
        0 0 20px white,
        0 0 30px white,
        0 0 40px white,
        0 0 55px white,
        0 0 75px white,
        2px 2px 2px rgba(44, 151, 206, 0);
}

.content .cards-container {
    display: flex;
    flex-wrap: wrap;

    padding: 0;

    list-style-type: none;
}

.content .cards-container .item {
    flex-grow: 1;
    padding: 1em;

    border-radius: 4px;

    height: fit-content;
}

.content .cards-container .item img {
    max-width: 512px;

    border-radius: 4px;

    max-height: 100%;
    min-width: 100%;
    object-fit: cover;
    vertical-align: bottom;
}
