.content {
    flex-grow: 1;

    z-index: 1;
    padding-bottom: 1em;

    background-size: contain;
    background-attachment: scroll;
    background-image: url(../../assets/background.svg);
}

.content .intro {
    margin: 1em 0;
    margin-top: 2em;
    background-color: rgba(200, 200, 200, 0.25);

    min-height: 12em;

    background-size: cover;
    background-attachment: fixed;
    background-image: url(../../assets/intro-background.svg);

    -webkit-box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.6);
    box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.6);
}

.content .intro .text {
    padding: 1em;
    max-width: 50%;

    font-size: 3em;
    color: #547A87;

    text-shadow:
        0 0 5px white,
        0 0 10px white,
        0 0 15px white,
        0 0 20px white,
        0 0 30px white,
        0 0 40px white,
        0 0 55px white,
        0 0 75px white,
        2px 2px 2px rgba(44, 151, 206, 0);
}

.content .briefing {
    padding: 2em;
    color: #547A87;
}

.content .briefing .title {
    font-size: 2em;
    text-align: center;
}

.content .briefing .sub {
    text-align: center;
    margin-bottom: 2em;
}

.content .briefing .text {
    text-align: justify;
    text-justify: distribute;
}

.content .cards-container {
    display: flex;
    flex-wrap: wrap;

    padding: 0;

    list-style-type: none;
}

.content .cards-container .item {
    flex-grow: 1;
    padding: 1em;

    border-radius: 4px;

    height: fit-content;
}

.content .cards-container .item.selected {
    background: rgba(76, 175, 80, 0.6);
}

.content .cards-container .item .card-image {
    max-width: 512px;

    border-radius: 4px;

    max-height: 16em;
    min-width: 100%;
    object-fit: cover;
    vertical-align: bottom;
}

.content .cards-container li:last-child {
    flex-grow: 100;
}

.content .cards-container .item.empty {
    display: flex;
    align-items: center;
    justify-content: center;

    color: #877f54;

    text-shadow:
        0 0 5px white,
        0 0 10px white,
        0 0 15px white,
        0 0 20px white,
        0 0 30px white,
        0 0 40px white,
        0 0 55px white,
        0 0 75px white,
        2px 2px 2px rgba(44, 151, 206, 0);
}

/* toolbar styles */
.content .toolbar {
    position: sticky;
    top: 8em;

    display: flex;
    flex-wrap: wrap;

    z-index: 100;

    padding: 1em;

    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
}

.form-item {
    z-index: 120;

    padding: 0.6em 1em;
    margin: .6em .4em;

    border-radius: 4px;
    border: none;
    outline: none;
    font-weight: bolder;

    transition: all 0.2s cubic-bezier(0.25, 0.8, 0.25, 1);

    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.25);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.25);
}

.form-item.input {
    backdrop-filter: blur(32px);
    -webkit-backdrop-filter: blur(32px);

    background-color: transparent;
}

.form-item:focus,
.form-item:hover {
    -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.25);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.25);
}

.form-item.button {
    color: white;
}

.form-item.button:focus,
.form-item.button:hover {
    cursor: pointer;
}

.form-item.button {
    background-color: #00acc1;
}

.form-item.button.active {
    background-color: #4caf50;
}

.form-item.button.remove {
    background-color: #e53935;
}

.form-item.button.clear {
    background-color: #f9a825;
}

.form-item.button.top {
    background-color: #3f51b5;
    margin-left: auto;
}

.form-item.button.submit {
    background-color: #3f7cb5;
}

.content .contact-us {
    display: flex;
}

.content .contact-us .form {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    position: sticky;
    top: 15em;

    height: fit-content;
    min-width: 24em;

    padding: 1em;
}

.content .contact-us .form .form-title {
    color: #3F7CB5;

    text-align: center;
}

.content .contact-us .cards-container {
    flex-grow: 4;
}

.content .contact-us .cards-container .empty {
    height: auto;
}

.content .contact-us .cards-container .item .card-image {
    max-height: 12em;
}
